<launch>
  <arg name="dynamixel_namespace" value="dynamixel_controller" />
  
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" />
  <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen" />
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera/image raw out:=/camera/decompressed" />
  
</launch>