<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- Launch controllers -->
  <!-- Load joint controller configuration from YAML file to parameter server -->
  <rosparam file="$(find mobi_head_sim_control)/config/joint_state_controller.yaml" command="load"/>

  <!-- Start joint controllers-->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>

  <rosparam file="$(find mobi_head_sim_control)/config/mobi_head_sim_control.yaml" command="load"/>
  <node name="mobi_head_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn mobi_head_controller" respawn="false" output="screen"/>

</launch>
